In [1]:
%pwd

'/Users/bdoucet/Documents/covid19'

In [4]:
# Import packages
import cases

In [15]:
# Get worldwide cases
global_cases = cases.get_case_data(start='04-01-2020', end='05-13-2020')

In [16]:
# Grab random sample
global_cases.sample(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
799,39047.0,Fayette,Ohio,US,2020-04-18 22:32:47,39.560213,-83.456202,13,0,0,13,"Fayette, Ohio, US"
2240,6103.0,Tehama,California,US,2020-04-07 23:04:49,40.125709,-122.237017,1,0,0,0,"Tehama, California, US"
2210,48387.0,Red River,Texas,US,2020-05-07 02:32:28,33.618867,-95.048418,1,0,0,1,"Red River, Texas, US"
2037,42101.0,Philadelphia,Pennsylvania,US,2020-04-30 02:32:27,40.003385,-75.137927,13803,541,0,13262,"Philadelphia, Pennsylvania, US"
335,26027.0,Cass,Michigan,US,2020-04-06 23:22:00,41.915223,-85.994057,7,1,0,0,"Cass, Michigan, US"
2033,48367.0,Parker,Texas,US,2020-05-08 02:32:32,32.777572,-97.805006,43,0,0,43,"Parker, Texas, US"
2308,18141.0,St. Joseph,Indiana,US,2020-04-17 23:30:52,41.617568,-86.290408,358,7,0,351,"St. Joseph, Indiana, US"
2920,NaN,NaN,Prince Edward Island,Canada,2020-04-26 02:30:54,46.510700,-63.416800,26,0,0,26,"Prince Edward Island, Canada"
123,46005.0,Beadle,South Dakota,US,2020-04-04 23:34:00,44.414644,-98.278585,21,1,0,0,"Beadle, South Dakota, US"
1265,30043.0,Jefferson,Montana,US,2020-04-30 02:32:27,46.149071,-112.094396,2,0,0,2,"Jefferson, Montana, US"

In [17]:
global_cases.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131006 entries, 0 to 3238
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   FIPS            119133 non-null  float64
 1   Admin2          119417 non-null  object
 2   Province_State  123217 non-null  object
 3   Country_Region  131006 non-null  object
 4   Last_Update     131006 non-null  datetime64[ns]
 5   Lat             128395 non-null  float64
 6   Long_           128395 non-null  float64
 7   Confirmed       131006 non-null  int64
 8   Deaths          131006 non-null  int64
 9   Recovered       131006 non-null  int64
 10  Active          131006 non-null  int64
 11  Combined_Key    131006 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(4), object(4)
memory usage: 13.0+ MB

In [18]:
global_cases.to_csv('Data/global_cases.csv')